{% extends 'base.html' %}
{% block extracss %}
<!-- <link href="../static/css/album.css" rel="stylesheet"> -->
{% endblock %}
{% block dashboard_home %}
<div class="container-fluid">

  <!-- Header -->
  <div class="header">
    <h1>{{name}}</h1>
    <!-- <p>Resize the browser window to see the responsive effect.</p> -->
  </div>

  <!-- Photo Grid -->
  <div class="row">
      {% for batch in images|batch(size) %}
        {% for i in batch %}
          <div class="col col-md-3">
                  <a href="/image?img={{i.image_id}}">
                  <img src="{{i.url}}" style="width:100%">
                  </a>
          </div>
        {% endfor %}
      {% endfor %}
  </div>

</div>
{% endblock %}
