{% extends 'base.html' %}
{% block dashboard_home %}
<div class="container-fluid">

<h1><center>Your Search: {{search}}</center></h1>
{% if reject|length != 0 %}
    Sorry, there are currently no results for:
    {% for i in reject %}
        <br><b>{{i}}</b>
    {% endfor %}
{% endif %}
<br>

{% if tags|length != 0 %}
  <h1> Tags </h1>
  {% for i in tags %}
      <a href="/tag?tag_name={{i}}">
          <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{i}}</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{tags[i]}} pictures</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    </a>
  {% endfor %}
{% endif %}

<br>

{% if albums|length != 0 %}
  <h1> Albums </h1>
  {% for i in albums %}
    <a href="/album?id={{i.album_id}}">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary mb-1">{{i.name}}</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{albums[i]}} pictures</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>
  {% endfor %}
{% endif %}


</div>
{% endblock %}
